.button {
    display: flex;
    padding: 1rem 2rem;
    border: none;
    background-color: var(--color-primary);
    color: #fff;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.25s;
}
.button:hover {
    background-color: #236def;
}

.button:disabled {
    opacity: 0.6;
    background-color: #a4a9b2;
    color: #44464b;
}