:root {
    --color-primary: hsl(210, 100%, 50%);
    --color-error: hsl(342, 85%, 48%);
    --color-black: hsla(0, 0%, 16%, 0.88);
}

body {
    line-height: 1.5; /* Improve readability */
    height: 100dvh;

}

#root {
    height: 100dvh;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
}
