@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

:root {
    --color-primary: hsl(210, 100%, 50%);
    --color-error: hsl(342, 85%, 48%);

    --color-black: hsla(0, 0%, 16%, 0.88);
    --color-white: hsl(0, 0%, 100%);
    --color-gray-100: hsl(220, 0%, 96%);
    --color-gray-200: hsl(220, 0%, 92%);
    --color-gray-300: hsl(220, 0%, 88%);

    --text-size-base: 16px;

}

body {
    line-height: 1.5;
    height: 100dvh;
    font-family: Arial, sans-serif;
    font-size: var(--text-size-base);
}

#root {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
