@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

:root {
    --color-primary: hsl(210, 100%, 50%);
    --color-error: hsl(342, 85%, 48%);
    --color-black: hsla(0, 0%, 16%, 0.88);

}

body {
    line-height: 1.5;
    height: 100dvh;
    font-family: Arial, sans-serif;
}

#root {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
